.statistic-item {
  .l-col {
    font-size: 13px;
    color: #888;

    .date {
      margin: 1rem 0;
      margin-bottom: 1.5rem;
    }
  }

  .r-col {
    .name {
      margin-top: .7rem;
      font-size: 18px;
    }
  }
}