$white: #fff;

.path {
  padding: 10px 0 0 10px;
  height: 60px;
  background: #7b7b7b;
  color: $white;
}

.active-path {
  padding: 10px 0 0 10px;
  height: 60px;
  background: #333;
  color: $white;
}