.checkbox {
  margin-bottom: 10px;
}

.date {
  margin: 10px 0;
}

.l-col .date + div {
  text-align: center;

  > svg {
    cursor: pointer;
    opacity: 0;
    color: gray;
    padding: 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    &:hover {
      background: #bfbfbf;
      color: #ff6701;
    }
  }
}

.r-col {
  > div:nth-child(1) {
    font-size: 25px;
    font-weight: 600;
  }
  
  .name {
    margin-top: 30px;
    color: black;
  }
  
  > div:nth-child(2) {
    text-transform: capitalize;
  }

  .stats {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .c-1, .c-2, .c-3 {
      > div {
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
      }

      .bandwidth,
      .disk {
        margin-bottom: 15px;
        border-bottom: 1px dotted gray;
      }

      .sub-disk-stats {
        > div {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 11px;
        }

        > div:nth-child(2) {
          justify-content: flex-end;
        }
      }
    }

    .c-1 {
      margin-left: 0;
    }

    .c-3 {
      margin-right: 0;

      div.ns {
        margin-top: 20px;
      }
    }

    > div {
      margin: 15px 20px;
      width: 33.3%;
    }

    .stat {
      font-weight: bold;
      color: #5f5f5f;
    }
  }
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background: #dfdedd;

  > div {
    padding: 10px 20px;
    font-weight: bolder;
    color: #777;

    &:hover {
      background: rgb(145, 145, 145);
      color: white;
    }
  }

  > div:nth-child(2):hover {
    background: #9fbf0c;
  }

  > div:nth-child(4):hover {
    background: #ff3438;
  }

  svg {
    margin-left: 3px;
  }
}