.list {
  width: 50%;
  height: 100vh;
  flex: 1 1 50%;

  .head {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0 2px 6px -2px gray;
    margin-bottom: 5px;
    padding-bottom: 5px;

    .permissions, .owner, .size, .date, .time{
      margin-top: 5px;
      font-weight: bolder;
      font-size: 19px;
      margin-left: 45px;
    }

    .owner {
      margin-left: 40px;
    }

    .permissions {
      margin-left: 20px;
    }

    .name {
      margin-top: 5px;
      font-weight: bolder;
      font-size: 19px;
      margin-right: 190px;
  }
}

  .list-container {
    margin-top: 0;
    height: calc(100% - 115px);
    overflow: auto;

    ul {
      margin-top: 5px;
      padding: 0;
    
      li {
        font-size: 20px;
        margin-bottom: 2px;
        padding-left: 15px;
        list-style: none;
    
        &:hover{
          background: #DEDEDE;
        }
      }
    
      li.active {
        border-left: 5px solid rgb(121, 100, 26);
        background: #FFDC5A;
      }
    
      li.selected {
        background: #fcfcd4;
      }
    }
  }
}