span {
  text-align: center;
  margin-right: 10px;
}

span.glyphicon {
  vertical-align: text-top;
}

.glyphicon-folder-open {
  color: #e29741;
}

.glyphicon-file {
  color: #11b1b1;
}

.glyphicon-book {
  color: rgb(209, 206, 43);
}

.glyphicon-picture {
  color: #105050;
}

.fOwner,
.fPermissions,
.fSize,
.fDate,
.fTime {
  font-size: 18px;
  margin-left: 2px;
  float: right;
  width: 80px;
  padding-top: 2px;
}

.fName {
  padding: 6px 5px 2px 5px;
  font-size: 17px;
  white-space: nowrap; 
  width: 230px; 
  overflow: hidden;
  text-overflow: clip;

  &:hover {
    background: rgb(201, 199, 199);
    border-radius: 4px;
    cursor: pointer;
  }
}

.fPermissions {
  margin-left: 40px;
  margin-right: 30px;
}

.fSize {
  width: 120px;
}

.fOwner {
  color: rgb(36, 148, 114);
  font-style: italic;
}

.value {
  color: #1f666e;
}

.unit {
  font-weight: bolder;
  color: #333;
}

.inactive {
  border-left: 5px solid #999999;
  background: rgba(195, 195, 195, 0.5);
}

.inactive-selected {
  background: rgb(220, 220, 220);
}

@media (max-width: 1200px){
  .fPermissions, .fOwner {
    display: none;
  }
}