span {
  margin-right: 10px;
}

.glyphicon-folder-close {
  color: #e29741;
}

.glyphicon-file {
  color: #0cdada;
}

.fOwner,
.fPermissions,
.fSize,
.fDate,
.fTime {
  font-size: 18px;
  margin-left: 40px;
  float: right;
  width: 60px;
}

.fName {
  font-size: 17px;
  white-space: nowrap; 
  width: 230px; 
  overflow: hidden;
  text-overflow: clip;
}

.fDate {
  margin-left: 30px;
}

.fPermissions {
  margin-left: 55px;
  margin-right: 25px;
}

.fOwner {
  margin-left: 25px;
}

.fSize {
  margin-left: 20px;
}

.value {
  color: #1f666e;
}

.unit {
  font-weight: bolder;
  color: #333;
}

.inactive {
  border-left: 5px solid #999999;
  background: #DEDEDE;
}