.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15px;
  font-size: 18px;
  position: relative;
  padding: 15px;
  margin: 2px 0;
  border-left: 2px solid white;
  border-bottom: 1px solid #eee;
  color: rgb(104, 104, 104);

  &:hover .l-col .date + div svg,
  &:hover .actions {
    opacity: 1;
  }

  .r-col {
    .stats {
      div > span {
        width: 50%;
        text-align: left;
      }
  
      .c-2 div > span {
        width: 60%;
      }

      .c-3 {
        padding-right: 3rem;
      }
    }

    div.bandwidth span,
    div.disk span {
      width: auto;
    }
  }

  .date {
    font-size: 13px;
  }
}

.list-item.toggled {
  background: #feef9a;
}

.list-item.starred {
  border-left: 2px solid #ff6701;

  .l-col .date + div > svg {
    opacity: 1;
    color: #ff6701;
  }
}
