.statistics-list.servers .list-item .star {
  display: none;
}

.statistics-list.servers .r-col .stats .c-2 {
  padding: 0;
}

.list-item .r-col .stats .c-3 {
  padding: 0;
}

.statistics-list.servers .r-col {
  padding-left: 2rem;

   .name {
    font-size: 25px;
  }
}