.web-stats,
.add-ftp {
  text-decoration: line-through;
}

.r-col {
  .stats {
    .c-2 {
      padding-left: 4rem;
    }
  }
}

.r-col .name .dns-name-span {
  font-style: italic;
  color: #858585;
  font-size: 14px;
  margin-left: 2rem;
}

div.crossed {
  text-decoration: line-through;
}